/* Main style */

* {
    --color-tt-blue: #758aa5;
}

body {
    background-color: rgba(0, 0, 0, 0);
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    margin: 0;
}

/* Utils */

.fullscreen {
    position: fixed;
    width: 1920px;
    height: 1080px;
    top: 0;
    left: 0;
    overflow: clip;
}

.hidden {
    display: none;
}

.z1 { z-index: 1; }
.z2 { z-index: 2; }
.z3 { z-index: 3; }

/* General info overlay */

.generalinfooverlay_block {
    color: white;
    background-color: var(--color-tt-blue);
    position: absolute;
    padding: calc(var(--pady) * 1px) 60px calc(var(--pady) * 1px) 120px;
    top: calc(var(--top) * 1px);
    left: 0;
    transition: ease-in-out 1.5s all;
    transition-delay: calc(var(--delay, 0s) * 1s)
}

.generalinfooverlay_block.b1 { --top: 725; --pady: 20; --delay: 0.05; }
.generalinfooverlay_block.b2 { --top: 910; --pady: 16; --delay: 0.00; }

.generalinfooverlay.out-left .generalinfooverlay_block {
    left: -100%;
    transition-delay: calc(0.2s - calc(var(--delay, 0s) * 1s));
}

.generalinfooverlay_text {
    font-family: 'Arial Rounded MT Bold';
    font-size: calc(var(--size) * 4px);
    font-weight: bold;
    white-space: nowrap;
}

.generalinfooverlay_text.t1 { --size: 24; }
.generalinfooverlay_text.t2 { --size: 13.5; }

/* Start info overlay */

.startinfooverlay_block {
    color: white;
    background-color: var(--color-tt-blue);
    position: absolute;
    padding: calc(var(--pad) * 1px) calc(var(--pad) * 1.75px);
    top: calc(var(--top) * 1px);
    right: 0;
    transition: ease-in-out 1.5s all;
    transition-delay: calc(var(--delay, 0s) * 1s)
}

.startinfooverlay_block.b1 { --top: 595; --pad: 20; --delay: 0.05; }
.startinfooverlay_block.b2 { --top: 700; --pad: 25; --delay: 0.00; }
.startinfooverlay_block.b3 { --top: 915; --pad: 20; --delay: 0.1; }

.startinfooverlay.out-right .startinfooverlay_block {
    right: -100%;
    transition-delay: calc(0.2s - calc(var(--delay, 0s) * 1s));
}

.startinfooverlay_text {
    font-family: 'Arial Rounded MT Bold';
    font-size: calc(var(--size) * 4px);
    font-weight: bold;
    white-space: nowrap;
}

.startinfooverlay_text.t1 { --size: 9; }
.startinfooverlay_text.t2 { --size: 18; }
.startinfooverlay_text.t3 { --size: 12; }
.startinfooverlay_text.t4 { --size: 11; }

/* Sponsors overlay */

.sponsorsoverlay_container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15%;
}

.sponsorsoverlay_block {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-tt-blue);
    transition: ease-in-out 1.5s all;
    z-index: -1;
}

.sponsorsoverlay .sponsorscategory {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    transition: ease-in-out 1.5s all;
}

.sponsorsoverlay .text {
    color: white;
    font-family: 'Arial Rounded MT Bold';
    font-size: 3em;
    margin: 0 1em;
}

.sponsorsoverlay .sponsor {
    padding: 1.5em;
    height: calc(100% - 5em);
    max-width: calc(50% / var(--count));
    background-color: white;
    border-radius: 0.75em;
}

.sponsorsoverlay .sponsor img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.sponsorsoverlay .sponsorsoverlay_block.out-down,
.sponsorsoverlay .sponsorscategory.out-down {
    bottom: -100%
}
