/* Main style */

:root {
    --tamtour-color-text: #ffffff;
    --tamtour-color-background: #758aa5;
}

/* Utils */

.fullscreen {
    position: fixed;
    width: 1920px;
    height: 1080px;
    top: 0;
    left: 0;
    overflow: clip;
}

.hidden {
    display: none;
}

.z1 { z-index: 1; }
.z2 { z-index: 2; }
.z3 { z-index: 3; }

/* General info overlay */

.generalinfooverlay_block {
    color: var(--tamtour-color-text);
    background-color: var(--tamtour-color-background);
    position: absolute;
    padding: calc(var(--pady) * 1px) 60px;
    top: calc(var(--top) * 1px);
    transition: ease-in-out 1.5s left, ease-in-out 1.5s right;
    transition-delay: calc(var(--delay, 0s) * 1s)
}

body:not(.direction-inverted) .generalinfooverlay_block {
    left: 0;
    padding-left: 120px;
}
body.direction-inverted .generalinfooverlay_block {
    right: 0;
}

.generalinfooverlay_block.b1 { --top: 725; --pady: 20; --delay: 0.05; }
.generalinfooverlay_block.b2 { --top: 910; --pady: 16; --delay: 0.00; }

.generalinfooverlay.out .generalinfooverlay_block {
    transition-delay: calc(0.2s - calc(var(--delay, 0s) * 1s));
}

body:not(.direction-inverted) .generalinfooverlay.out .generalinfooverlay_block {
    left: -100%;
}
body.direction-inverted .generalinfooverlay.out .generalinfooverlay_block {
    right: -100%;
}

.generalinfooverlay_text {
    font-size: calc(var(--size) * 4px);
    font-weight: bold;
    white-space: nowrap;
}

.generalinfooverlay_text.t1 { --size: 24; }
.generalinfooverlay_text.t2 { --size: 13.5; }

/* Start info overlay */

.startinfooverlay_block {
    color: var(--tamtour-color-text);
    background-color: var(--tamtour-color-background);
    position: absolute;
    padding: calc(var(--pad) * 1px) calc(var(--pad) * 1.75px);
    top: calc(var(--top) * 1px);
    transition: ease-in-out 1.5s right, ease-in-out 1.5s left;
    transition-delay: calc(var(--delay, 0s) * 1s)
}

body:not(.direction-inverted) .startinfooverlay_block {
    right: 0;
}
body.direction-inverted .startinfooverlay_block {
    left: 0;
    padding-left: 60px;
}

.startinfooverlay_block.b1 { --top: 595; --pad: 20; --delay: 0.05; }
.startinfooverlay_block.b2 { --top: 700; --pad: 25; --delay: 0.00; }
.startinfooverlay_block.b3 { --top: 915; --pad: 20; --delay: 0.1; }

.startinfooverlay.out .startinfooverlay_block {
    transition-delay: calc(0.2s - calc(var(--delay, 0s) * 1s));
}

body:not(.direction-inverted) .startinfooverlay.out .startinfooverlay_block {
    right: -100%;
}
body.direction-inverted .startinfooverlay.out .startinfooverlay_block {
    left: -100%;
}

.startinfooverlay_text {
    font-size: calc(var(--size) * 4px);
    font-weight: bold;
    white-space: nowrap;
}

.startinfooverlay_text.t1 { --size: 9; }
.startinfooverlay_text.t2 { --size: 18; }
.startinfooverlay_text.t3 { --size: 12; }
.startinfooverlay_text.t4 { --size: 11; }

/* Start list overlay */

.startlistoverlay,
.startlistoverlay * {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: black;
    opacity: 1;
    transition: all 1.5s;
}

.startlistoverlay.out {
    opacity: 0;
}

.startlistoverlay-header {
    position: absolute;
    width: 100vw;
    top: 0;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.startlistoverlay-body {
    position: absolute;
    width: 100vw;
    top: 155px;
}

.startlistoverlay-footer {
    position: absolute;
    width: 100vw;
    height: 100px;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.startlistoverlay-footerdot {
    margin: 0 30px;
}

.startlistoverlay-footerdot::before {
    content: '•';
    font-size: 100px;
    line-height: 100px;
    color: rgba(255, 255, 255, 0.5);
    transition: color 0.5s;
}

.startlistoverlay-footerdot.active::before {
    color: rgba(255, 255, 255, 1);
}

.startlistoverlay-tablecontainer {
    position: absolute;
    left: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-start;
}

.startlistoverlay-tablecontainer.out-right {
    left: 100vw;
}

.startlistoverlay-tablecontainer.out-left {
    left: -100vw;
}


.startlistoverlay-table {
    font-size: 40px;
    border-collapse: separate;
    border-spacing: 30px;
}

.startlistoverlay-table tr td {
    padding: 8px 28px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}

.startlistoverlay-title {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    font-size: 66px;
    text-align: center;
    padding: 8px 28px;
    width: fit-content;
}

/* Sponsors overlay */

.sponsorsoverlay_container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15%;
}

.sponsorsoverlay_block {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: var(--tamtour-color-background);
    transition: ease-in-out 1.5s all;
    z-index: -1;
}

.sponsorsoverlay .sponsorscategory {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    transition: ease-in-out 1.5s all;
}

.sponsorsoverlay .text {
    color: var(--tamtour-color-text);
    font-size: 3em;
    margin: 0 1em;
}

.sponsorsoverlay .sponsor {
    padding: 1.5em;
    height: calc(100% - 5em);
    max-width: calc(50% / var(--count));
    background-color: white;
    border-radius: 0.75em;
}

.sponsorsoverlay .sponsor img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.sponsorsoverlay .sponsorsoverlay_block.out-down,
.sponsorsoverlay .sponsorscategory.out-down {
    bottom: -100%
}
